@import "tailwindcss";

 @theme {
  
  /* Custom breakpoints (screens) */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  
    --color-black: #000000;
      --color-northumbria-red: #d90429;
  --color-northumbria-black: #000000;
  --color-northumbria-gray: #f5f5f5;
  --color-northumbria-darkgray: #333333;
  /* --color-primary: #1e40af;
  --color-secondary: #fbbf24; */
} 
